body {
    font-size: 2rem;
    height: 100vh;
}

header {
    font-size: 1.5rem;
    border: 2px dashed darkgoldenrod;
    width: 50%;
}

h1 {
    width: 50%;
}

main {
    background-color: lightgoldenrodyellow;
}

p {
    font-size: 1.2rem;
}

#p1::after {
    content: "<<";
    color: darkblue;
}