body{
    font-size: 1.5rem;
    border: 10px solid;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

h1, h2{
    color: violet;
}

#p2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: blue;
}

h2 span{
    text-transform: uppercase;
}

p span, .HL{
    background-color: yellow;
}